<html>
  <head>
    <title>Sample HTML File from WPsite.net</title>
  </head>
  <body bgcolor=white>

      <div style="font-size:30px;">
          <h1>Sample HTML File! It Works!</h1>
      </div>
      <div>
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Lightning_Pritzerbe_01_%28MK%29.jpg/800px-Lightning_Pritzerbe_01_%28MK%29.jpg">
      </div>

    <p>This is the home page for this sample HTML file. </p>
    <p>You can click the following links:
    <ul>
      <li>To an awesome <a href="http://www.wpsite.net"><strong>WordPress Site</strong></a>.
      <li>To some more awesome reading about <a href="http://www.wpsite.net"><strong>WordPress and Web Design</strong></a>.
    </ul>

  </body>
</html>