<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
	<legacyCorruptedStateExceptionsPolicy enabled="true"/>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	    <probing privatePath="HexSight\Controls"/>
	</assemblyBinding>
    </runtime>    
</configuration>
